<header>
    Menu
    <ul>
        <li><a href="http://127.0.0.6/article-create">Create Article</a></li>
        <li><a href="http://127.0.0.6/create-member/admin">Register as Admin</a></li>
        <li><a href="http://127.0.0.6/create-member/user">Register as User</a> </li>
        <li><a href="http://127.0.0.6/articles-all">See all articles</a></li>
        <li><a href="http://127.0.0.6/members-all">See all members</a></li>
        <li>
            <a href="http://127.0.0.6/admins-all">See all admins</a></li>
        <li><a href="http://127.0.0.6/users-all">See all users</a></li>
    </ul>
</header>
<style>
    header {
        text-align: center;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
</style>